<h3>以下の内容をつぶやく</h3>
<%= form_with(model: @post, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>内容：<%= @post.content %></p>
  <%= form.submit "つぶやく" %>
  <%= link_to '戻る', new_post_path %>
<% end %>
