<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="/css/stylesheet.css">
  <head>
    <meta charset="utf-8">
    <title>ツイートアプリ</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>ツイートアプリ</h1>
      </header>
      <div class="tsubuyaki">
        <p><%= link_to 'つぶやく', new_post_path %></p>
        <p><%= notice %></p>

      </div>
      <article class="main_content">
        <% @posts.each do |post| %>
          <div class="tweet">
            <p><%= post.content %></p>
            <div class="action_button">
              <p><%= link_to '詳細', post_path(post.id) %></p>
              <p><%= link_to '編集', edit_post_path(post.id) %></p>
              <p><%= link_to '削除', post_path(post.id), method: :delete %></p>
            </div>
          </div>
        <% end %>
      </article>
    </div>
  </body>
</html>
