<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href=".../assets/stylesheets/posts.scss">
    <title>ツイートアプリ</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>ツイートアプリ</h1>
      </header>
      <div class="tsubuyaki">
        <p class = "button"><%= link_to 'つぶやく', new_post_path %></p>
        <p><%= notice %></p>
      </div>
      <article class="clearfix">
        <% @posts.each do |post| %>
          <tr>
            <td class = "tweet">
              <br>
              <p class = "tweet"><%= post.content %></p>
              <ul class="action_button">
                <li class="button"><%= link_to '詳細', post_path(post.id) %></li>
                <li class="button"><%= link_to '編集', edit_post_path(post.id) %></li>
                <li class="button"><%= link_to '削除', post_path(post.id), method: :delete %></li>
              </ul>
            </td>
            <br>
          </tr>
        <% end %>
        <div class="spacer">
        </div>
      </article>
      <footer class="footer">
        <p>株式会社○✕建設</p>
      </footer>
    </div>
  </body>
</html>
